*{
    margin: 0;
}

header{
    animation: introLoad 2s forwards;
}

.header{
    display: flex;
    flex-direction: column;
    background: linear-gradient(75deg, #FFFEFE 0%, #FFF 10%, rgba(255, 255, 255, 0) 60%),url(images/header\ background.jpg),lightgray 50%;
    background-size: contain;
    background-position-x: 100%;
    height: 840px;
    width: 100%;
    z-index: -9;
    
}

header .headertext{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #292937;
    font-family:'Noto Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: auto;
    margin-bottom: -300px;
    margin-left: 80px;
    
}


header .motto{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #292937;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: auto;
    margin-bottom: 250px;
   

}
.motto span{
    color: #FF4C00;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128,0.7);
    height: 12%;
    width: 100%;
    
}

.logo{
    color: #FF4C00;
    font-family: 'League Spartan', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    margin: 5px 80px ;
}
.logo span{
    color: black;
}

/* font-family: 'Crimson Pro', serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

nav ul {
    display: flex;
    list-style-type: none;
    margin: 30px 80px ;
    font-family: 'Roboto', sans-serif;
    
}

nav ul li {
    display: flex;
    margin-right: 10px;
    font-size: 1.2em;
}

nav ul li a{
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition-property: color; 
    transition-duration: 0.3s;
}

nav ul li a:hover{
    color: #FF4C00;
}

nav ul .donate{
    width: 12%;
    height: 80%;
    padding-left: 5px;
    border-radius: 10px;
    background-color: none;
    transition-property: background-color; 
    transition-duration: 0.3s;
}

nav ul .donate:hover{
    background-color: #292937;
}

nav ul li a span{
    color: #FF4C00;
    
}



.approachandengage{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: -175px;
}

.approachandengage .approach, .approachandengage .engage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #292937;
    width: 100%;
    height: 310px;
    margin-right: 50px;
    color: #BABABC;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.36px;
    padding: 20px;
}

.approach a, .engage a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 61px;
    border-radius: 10px;
    background: #D9D9D9;
    color: #292937;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-property: background-color, letter-spacing; 
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.approach a:hover{
    background-color: lightblue;
    letter-spacing: 3px;
}

 .approach h3{
    align-items: center;
 }

 .approachandengage .engage{
    margin-left: 50px;
    color: #BABABC;
}

.engage a{
    background: #D9D9D9;
    color: #FF4C00;
}
.engage a:hover{
    background-color: lightblue;
    letter-spacing: 3px;
}


.belief, .motivesection{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
    color: #292937;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.motivesection{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    background-color: #F4F1F1;
    color: #292937;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.motive{
    text-align: left;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
}
#supporters{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

#supporters h2{
    text-align: center;
    color: #292937;
    font-family: 'League Spartan', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.supporters{
    background-color: #D9D9D9;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-around;
}

.scrollable-container {
    width: 85%;
    overflow: hidden;
    background-color: #D9D9D9;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: space-around;
  }
  
  .scrollable-content {
    display: flex;
    animation: scroll 10s linear infinite; /* Adjust the animation duration as needed */
  }
  
  .scrollable-content img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* Add some spacing between images */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
/* Donation Section */
#donation, #network, #future{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(auto, auto);
    color: #292937;
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
}

#future{
    margin-bottom: 100px;
}

#donation .donationtext, #network .networktext, #future .futuretext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #292937;
    text-align: left;
    width: 100%;
}

#donation .donationtext p, #network .networktext p, #future .futuretext p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.networktext{
    padding-left: 20px;
}

.donationtext a, .futuretext a, .networktext a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 61px;
    background: none;
    border-radius: 10px;
    border: #292937 solid;
    color: #292937;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.donationtext a:hover, .futuretext a:hover{
    background-color: #FF4C00;
}

.donationimg{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.donationimg .donation1{
    align-self: last baseline;
    background-image: url(images/donation1.jpg);
    background-position-x: 60%;
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 100%;
    border: #FFF solid 10px;
}

.donationimg .donation2{
    align-self: first baseline;
    background-image: url(images/donation2.jpg);
    background-position-x: 50%;
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 100%;
    border: #FF4C00 solid 10px;
    z-index: -9;
    margin-top: -100px;
    margin-left: 200px;
}


.networktext a{
    border: #FF4C00 solid;
    color: #FF4C00;
}

.networktext a:hover{
    background-color: #292937;
}

.networkimg{
    width: 400px;
    height: 500px;
    background-image: url(images/the\ gang.jpg);
    background-size: cover;
    border-radius: 250px 10px 10px 10px;
    background-position-x: 50%;
}

.futureimg{
    width: 400px;
    height: 500px;
    margin-left: 200px;
    background-image: url(images/students.jpg);
    background-size: cover;
    border-radius: 10px 250px 10px 10px;
    background-position-x: 50%;

}

#join{
    display: flex;
    flex-direction: column;
    background: #D9D9D9;
    padding: 100px;
}

#join h2{
    color: #FF4C00;
    font-family: 'League Spartan', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#join h2 span{
    color: #000;
}

#groups{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.individuals, .companies, .team{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #292937;
    margin: 40px;
    width: 100%;
    height: 350px;
    padding: 20px 20px 20px 30px;
}
.individuals h4, .companies h4, .team h4{
    color: #FF4C00;
    font-family: 'League Spartan', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.individuals p, .companies p, .team p{
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.individuals a, .companies a, .team a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 61px;
    border-radius: 10px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-property: color; 
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.individuals a{
    border: #FF4C00 solid;
    background: none;
}

.individuals a:hover{
    color: #FF4C00;
    
}

.companies h4{
    color: #BFBEFF;
}

.companies a{
    border: #BFBEFF solid;
}

.companies a:hover{
    color: #BFBEFF;
}

.team h4{
    color: #F00;
}

.team a{
    border: #F00 solid;
}

.team a:hover{
    color: #F00;
}

#uogteam{
    background-color: #BDBCBC;
    padding-bottom: 50px;
}
#uogteam h2{
    color: #000;
    font-family: 'League Spartan', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;

}

.gridteam{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto, auto);
    gap: 50px;
    margin: 50px 50px 0px 50px;
    color: #000;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.teamimg{
    background-size: cover;
    width: 362px;  
    height: 482px;
    border-radius: 10px;
}

.lead{
    background-image: url(images/arogs.jpg);
}

.teamimg1{
    background-image: url(images/bakri.png);
    background-position-x: 80%;
}

.teamimg2{
    background-image: url(images/ruby.png);
}

.teamimg3{
    background-image: url(images/radhyallah.jpg);
    background-position-x: 50%;
}

.teamimg4{
    background-image: url(images/toluwani.png);
    background-position-x: 40%;
}

.teamimg5{
    background-image: url(images/fatimah.jpg);
    background-position-x: 80%;
}

.teamimg6{
    background-image: url(images/alat.png);
}

.teamimg7{
    background-image: url(images/kingsley.png);
    background-position-x: 60%;
}

.teamimg8{
    background-image: url(images/afeez.jpg);
    background-position-x: 45%;
}

.teamimg9{
    background-image: url(images/iman.png);
}

.teamimg10{
    background-image: url(images/photo_2023-07-10_11-46-02.jpg);
}
.teamimg11{
    background-image: url(images/fatiha.jpg);
    background-position-x: 40%;
}

.teammembers{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.40);
    margin-top: 1.5em;
    padding-top: 1.5em;
}

.teamposition{
    color: #FF4C00;
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


footer{
    background-color: #292937;
}

#form{
    display: flex;
    justify-content: space-between;
}

.links{
    align-self: center;
    margin-left: 50px;
}

#form  .links h3{
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form{
    border-radius: 10px;
    background: #D9D9D9;
    margin: 20px;
    margin-top: 50px;
    margin-right: 50px;
    padding: 20px;
}


.form h3{
    text-align: center;
    color: #000;
    font-family: 'Crimson Pro', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px;
}

.form p{
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 30px;
}

.form h4{
    color: #000;
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type="text"], input[type="email"]{
    width: 90%;
    height: 40px;
    border: none ;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

input[placeholder]{
    color:#BDBCBC ;
    font-size: 15px;
    padding-left: 20px;
}

input[type="submit"]{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: #FF4C00 solid;
    background: none;
    color: #FF4C00;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    transition-property: background-color; 
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

input[type="submit"]:hover{
    background-color: #292937;
}

footer h5{
    text-align: center;
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@keyframes introLoad{
    from{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    }
}


@media screen and (max-width: 1350px) {


}
